<section class="industries">
  <div class="container">
    <h2 class="industries__title">
      Fitur khusus untuk semua orang yang bekerja dengan real estat
    </h2>
    <div class="industries__btns">
      <button class="industries__btn industries__btn--active">Agen Real Estat</button>
      <button class="industries__btn">Penilai</button>
      <button class="industries__btn">Pengembang</button>
      <button class="industries__btn">Pengacara</button>
      <button class="industries__btn">Pembeli/Penjual</button>
    </div>
    <div class="industries__content industries__content--active">
      <ul class="industries__list">
        <li class="industries__item">
          <span class="industries__item-name">
            Tingkatkan penghasilan Anda
          </span>
          <p class="industries__item-text">
            Periksa penawaran yang masuk dalam hitungan detik dan ubah ketidaknyamanan menjadi keunggulan kompetitif
          </p>
        </li>
        <li class="industries__item">
          <span class="industries__item-name">
            Tutup lebih banyak penawaran
          </span>
          <p class="industries__item-text">
            Hasilkan lebih banyak prospek dengan menyediakan data pasar eksklusif berbasis wawasan
          </p>
        </li>
        <li class="industries__item">
          <span class="industries__item-name">
            Tingkatkan efisiensi transaksi
          </span>
          <p class="industries__item-text">
            Cari tahu potensi setiap penawaran untuk menjadikannya yang paling menguntungkan bagi Anda dan pelanggan
            Anda
          </p>
        </li>
      </ul>
      <a class="industries__link" href="#">
        Learn more
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.64645 12.8536C8.45118 12.6583 8.45118 12.3417 8.64645 12.1464L12.2929 8.5L2.5 8.5C2.22386 8.5 2 8.27614 2 8C2 7.72386 2.22386 7.5 2.5 7.5L12.2929 7.5L8.64645 3.85355C8.45118 3.65829 8.45118 3.34171 8.64645 3.14645C8.84171 2.95118 9.15829 2.95118 9.35355 3.14645L13.8536 7.64645C14.0488 7.84171 14.0488 8.15829 13.8536 8.35355L9.35355 12.8536C9.15829 13.0488 8.84171 13.0488 8.64645 12.8536Z"
            fill="#636AE6" />
        </svg>
      </a>
      <div class="industries__img">
        <img src="../assets/landing/image/industries/tab-1.png" alt="фото сотрудника">
      </div>
    </div>
  </div>
</section>
<!-- наполнение табов -->
<app-industries-body-item>
  <div class="industries__content">
    <ul class="industries__list">
      <li class="industries__item">
        <span class="industries__item-name">
          Tingkatkan penghasilan Anda
        </span>
        <p class="industries__item-text">
          Periksa penawaran yang masuk dalam hitungan detik dan ubah ketidaknyamanan menjadi keunggulan kompetitif
        </p>
      </li>
      <li class="industries__item">
        <span class="industries__item-name">
          Tutup lebih banyak penawaran
        </span>
        <p class="industries__item-text">
          Hasilkan lebih banyak prospek dengan menyediakan data pasar eksklusif berbasis wawasan
        </p>
      </li>
      <li class="industries__item">
        <span class="industries__item-name">
          Tingkatkan efisiensi transaksi
        </span>
        <p class="industries__item-text">
          Cari tahu potensi setiap penawaran untuk menjadikannya yang paling menguntungkan bagi Anda dan pelanggan
          Anda
        </p>
      </li>
    </ul>
    <div class="industries__img">
      <img src="../assets/landing/image/industries/tab-2.png" alt="фото сотрудника">
    </div>
  </div>
</app-industries-body-item>
<app-industries-body-item>
  <div class="industries__content">
    <ul class="industries__list">
      <li class="industries__item">
        <span class="industries__item-name">
          Tingkatkan penghasilan Anda
        </span>
        <p class="industries__item-text">
          Periksa penawaran yang masuk dalam hitungan detik dan ubah ketidaknyamanan menjadi keunggulan kompetitif
        </p>
      </li>
      <li class="industries__item">
        <span class="industries__item-name">
          Tutup lebih banyak penawaran
        </span>
        <p class="industries__item-text">
          Hasilkan lebih banyak prospek dengan menyediakan data pasar eksklusif berbasis wawasan
        </p>
      </li>
      <li class="industries__item">
        <span class="industries__item-name">
          Tingkatkan efisiensi transaksi
        </span>
        <p class="industries__item-text">
          Cari tahu potensi setiap penawaran untuk menjadikannya yang paling menguntungkan bagi Anda dan pelanggan
          Anda
        </p>
      </li>
    </ul>
    <div class="industries__img">
      <img src="../assets/landing/image/industries/tab-3.png" alt="фото сотрудника">
    </div>
  </div>
</app-industries-body-item>
<app-industries-body-item>
  <div class="industries__content">
    <ul class="industries__list">
      <li class="industries__item">
        <span class="industries__item-name">
          Tingkatkan penghasilan Anda
        </span>
        <p class="industries__item-text">
          Periksa penawaran yang masuk dalam hitungan detik dan ubah ketidaknyamanan menjadi keunggulan kompetitif
        </p>
      </li>
      <li class="industries__item">
        <span class="industries__item-name">
          Tutup lebih banyak penawaran
        </span>
        <p class="industries__item-text">
          Hasilkan lebih banyak prospek dengan menyediakan data pasar eksklusif berbasis wawasan
        </p>
      </li>
      <li class="industries__item">
        <span class="industries__item-name">
          Tingkatkan efisiensi transaksi
        </span>
        <p class="industries__item-text">
          Cari tahu potensi setiap penawaran untuk menjadikannya yang paling menguntungkan bagi Anda dan pelanggan
          Anda
        </p>
      </li>
    </ul>
    <div class="industries__img">
      <img src="../assets/landing/image/industries/tab-4.png" alt="фото сотрудника">
    </div>
  </div>
</app-industries-body-item>
<app-industries-body-item>
  <div class="industries__content">
    <ul class="industries__list">
      <li class="industries__item">
        <span class="industries__item-name">
          Tingkatkan penghasilan Anda
        </span>
        <p class="industries__item-text">
          Periksa penawaran yang masuk dalam hitungan detik dan ubah ketidaknyamanan menjadi keunggulan kompetitif
        </p>
      </li>
      <li class="industries__item">
        <span class="industries__item-name">
          Tutup lebih banyak penawaran
        </span>
        <p class="industries__item-text">
          Hasilkan lebih banyak prospek dengan menyediakan data pasar eksklusif berbasis wawasan
        </p>
      </li>
      <li class="industries__item">
        <span class="industries__item-name">
          Tingkatkan efisiensi transaksi
        </span>
        <p class="industries__item-text">
          Cari tahu potensi setiap penawaran untuk menjadikannya yang paling menguntungkan bagi Anda dan pelanggan
          Anda
        </p>
      </li>
    </ul>
    <div class="industries__img">
      <img src="../assets/landing/image/industries/tab-5.png" alt="фото сотрудника">
    </div>
  </div>
</app-industries-body-item>
