<section class="welcome">
  <div class="container">
    <div class="welcome__inner">
      <div class="welcome__info">
        <h1 class="welcome__title">
          <span>
            Satu klik
          </span>
          menuju Data Real Estat
        </h1>
        <p class="welcome__text">
          Perare - Penyedia data real estat Anda yang menghemat kerumitan mengunjungi real estat atau lembaga
          pemerintah dan memungkinkan Anda mendapatkan data di lahan mana pun secara instan.
        </p>
        <button class="welcome__btn">
          Coba gratis
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.64645 12.8536C8.45118 12.6583 8.45118 12.3417 8.64645 12.1464L12.2929 8.5L2.5 8.5C2.22386 8.5 2 8.27614 2 8C2 7.72386 2.22386 7.5 2.5 7.5L12.2929 7.5L8.64645 3.85355C8.45118 3.65829 8.45118 3.34171 8.64645 3.14645C8.84171 2.95118 9.15829 2.95118 9.35355 3.14645L13.8536 7.64645C14.0488 7.84171 14.0488 8.15829 13.8536 8.35355L9.35355 12.8536C9.15829 13.0488 8.84171 13.0488 8.64645 12.8536Z"
              fill="white" />
          </svg>
        </button>
        <span class="welcome__subtext">
          Tidak diperlukan kartu kredit untuk opsi dasar
        </span>
      </div>
      <div class="welcome__images">
        <!-- <ul class="welcome__content-one">
          <li class="welcome__content-item">
            <span class="welcome__content-item-name">
              NIB
            </span>
            <span class="welcome__content-item-text">
              01.23.45.67.89012
            </span>
          </li>
          <li class="welcome__content-item">
            <span class="welcome__content-item-name">
              Luas
            </span>
            <span class="welcome__content-item-text">
              12.345m² ~ 123ARE
            </span>
          </li>
          <li class="welcome__content-item">
            <span class="welcome__content-item-name">
              Hak
            </span>
            <span class="welcome__content-item-text">
              Hak Milik
            </span>
          </li>
          <li class="welcome__content-item">
            <span class="welcome__content-item-name">
              Pengelolaan
            </span>
            <span class="welcome__content-item-text">
              Kosong
            </span>
          </li>
          <li class="welcome__content-item">
            <span class="welcome__content-item-name">
              Alamat
            </span>
            <span class="welcome__content-item-text">
              Nusa Tenggara Barat, Lombok Tengah, Praya Barat, Selong Belanak
            </span>
          </li>
          <li class="welcome__content-item">
            <label class="welcome__content-item-label">
              <input class="welcome__content-item-input" type="text" value="https://perare.io/map?plot=1bb1bdasdasdasd9"
                disabled>
              <button class="welcome__content-item-btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M5.25 7.5C4.83579 7.5 4.5 7.83579 4.5 8.25V20.25C4.5 20.6642 4.83579 21 5.25 21H14.25C14.6642 21 15 20.6642 15 20.25V13.5H11.25C10.0074 13.5 9 12.4926 9 11.25V7.5H5.25ZM10.5 8.56066L13.9393 12H11.25C10.8358 12 10.5 11.6642 10.5 11.25V8.56066ZM3 8.25C3 7.00736 4.00736 6 5.25 6H9.75C9.94891 6 10.1397 6.07902 10.2803 6.21967L16.2803 12.2197C16.421 12.3603 16.5 12.5511 16.5 12.75V20.25C16.5 21.4926 15.4926 22.5 14.25 22.5H5.25C4.00736 22.5 3 21.4926 3 20.25V8.25Z"
                    fill="#636AE6" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.5 3.75C7.5 2.50736 8.50736 1.5 9.75 1.5H14.25C14.4489 1.5 14.6397 1.57902 14.7803 1.71967L20.7803 7.71967C20.921 7.86032 21 8.05109 21 8.25V15.75C21 16.9926 19.9926 18 18.75 18C18.3358 18 18 17.6642 18 17.25C18 16.8358 18.3358 16.5 18.75 16.5C19.1642 16.5 19.5 16.1642 19.5 15.75V9H15.75C14.5074 9 13.5 7.99264 13.5 6.75V3H9.75C9.33579 3 9 3.33579 9 3.75C9 4.16421 8.66421 4.5 8.25 4.5C7.83579 4.5 7.5 4.16421 7.5 3.75ZM15 4.06066L18.4393 7.5H15.75C15.3358 7.5 15 7.16421 15 6.75V4.06066Z"
                    fill="#636AE6" />
                </svg>
              </button>
            </label>
          </li>
          <li class="welcome__content-item">
            <a class="welcome__content-item-link" href="#">
              Penerbangan ke sebidang tanah
            </a>
          </li>
        </ul> -->
        <img class="welcome__map" src="../assets/landing/image/welcome/welcome-map.png"
          alt="элемент интерфейса приложения">
        <!-- <div class="welcome__content-two">
          <span class="welcome__content-two-name">
            Harga pasar tanah
          </span>
          <div class="welcome__content-two-btns">
            <button class="welcome__content-two-btn">h</button>
            <button class="welcome__content-two-btn welcome__content-two-btn--active">m</button>
            <button class="welcome__content-two-btn">b</button>
            <button class="welcome__content-two-btn">6b</button>
            <button class="welcome__content-two-btn">t</button>
          </div>
          <span class="welcome__content-two-name">Hari ini, 30 September
          </span>
          <span class="welcome__content-two-subname">Rp126.884.557/m²
          </span>
          <div class="welcome__content-two-lagi">
            <span>↓0.97% dari minggu lalu</span>
            <a href="#">lagi</a>
          </div>
          <ul class="welcome__content-box">
            <li class="welcome__content-box-item">
              <span class="welcome__content-box-item-left"></span>
              <span class="welcome__content-box-item-right">126.8</span>
            </li>
            <li class="welcome__content-box-item">
              <span class="welcome__content-box-item-left"></span>
              <span class="welcome__content-box-item-right">126.4</span>
            </li>
            <li class="welcome__content-box-item">
              <span class="welcome__content-box-item-left"></span>
              <span class="welcome__content-box-item-right">126.1</span>
            </li>
            <li class="welcome__content-box-item">
              <span class="welcome__content-box-item-left welcome__content-box-item-left--last"></span>
              <span class="welcome__content-box-item-right">125.8</span>
            </li>
          </ul>
          <div class="welcome__content-box-day">
            <span>24</span>
            <span>25</span>
            <span>26</span>
            <span>27</span>
            <span>28</span>
            <span>29</span>
            <span>30</span>
          </div>
          <span class="welcome__content-box-month">Sep</span>
        </div> -->
      </div>
    </div>
  </div>
</section>
