<section class="reviews">
  <div class="container">
    <div class="reviews__wrapper">
      <img class="reviews__img" src="../assets/landing/image/reviews/foto.png" alt="фотография автора цитаты">
      <div class="reviews__info">
        <blockquote class="reviews__blockquote">
          “Pekerjaan terlihat sangat berbeda ketika Anda tidak perlu berkeliaran di sekitar kota dan mengumpulkan
          informasi, akses yang sekarang selalu ada di tangan saya”
        </blockquote>
        <div class="reviews__author">
          <img class="reviews__author-img" src="../assets/landing/image/partners/partners-2.svg" alt="логотип компании">
          <span class="reviews__author-name">Agus Harianto</span>
          <span class="reviews__author-post">Agen real estat</span>
        </div>
      </div>
    </div>
  </div>
</section>
