<section class="partners">
  <div class="container">
    <h2 class="partners__title">
      Dipercaya oleh lebih dari <span class="partners__counter">
        <app-counter [startValue]="1000" [endValue]="3000" [step]="1" [suffix]="'+'"></app-counter>
      </span> agen, penilai, dan pengembang
      bersertifikat
    </h2>

    <ul class="partners__list">
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/landing/image/partners/partners-1.svg"
          alt="Логотип компании партнера">
      </li>
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/landing/image/partners/partners-2.svg"
          alt="Логотип компании партнера">
      </li>
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/landing/image/partners/partners-3.svg"
          alt="Логотип компании партнера">
      </li>
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/landing/image/partners/partners-4.svg"
          alt="Логотип компании партнера">
      </li>
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/landing/image/partners/partners-5.svg"
          alt="Логотип компании партнера">
      </li>
    </ul>
  </div>
</section>
<!-- <app-counter scroll (scrollPosition)="scrollChanged($event)"></app-counter> -->
