<section class="partners">
  <div class="container">
    <h2 class="partners__title">
      Dipercaya oleh lebih dari <span>3,000+</span> agen, penilai, dan pengembang bersertifikat
    </h2>
    <ul class="partners__list">
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/image/partners/partners-1.png"
          alt="Логотип компании партнера">
      </li>
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/image/partners/partners-2.png"
          alt="Логотип компании партнера">
      </li>
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/image/partners/partners-3.png"
          alt="Логотип компании партнера">
      </li>
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/image/partners/partners-4.png"
          alt="Логотип компании партнера">
      </li>
      <li class="partners__list-item">
        <img class="partners__list-item-img" src="../assets/image/partners/partners-5.png"
          alt="Логотип компании партнера">
      </li>
    </ul>
  </div>
</section>
