body
  box-sizing: border-box
  font-size: 16px
  line-height: 25px
  display: flex
  flex-direction: column
  color: #E8EDF6

*,
*::after,
*::before
  box-sizing: inherit

.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 10px

  @media (max-width: 600px)
    padding: 0 24px

a
  text-decoration: none

.header
  padding: 33px 0

  &__inner
    display: flex
    justify-content: space-between
    align-items: center

  &__burger
    width: 16px
    height: 16px
    margin-left: 20px
    position: relative
    z-index: 50
    display: none
    padding: 0
    border: none
    background-color: transparent

    @media (max-width: 600px)
      display: block

  &__burger-line
    display: block
    width: 16px
    height: 1px
    background-color: #183455

    &:not(:last-child)
      margin-bottom: 3px

  &__burger-line--hide
    display: none

  &__burger-close
    display: none

  &__burger-close--visible
    display: block

.logo
  width: 150px
  height: 34px
  position: relative
  z-index: 50
  display: flex
  align-items: center

  &__text
    margin-left: 8px
    @media (max-width: 600px)
      display: none

  &__text--visible
    display: block

.menu
  display: flex
  align-items: center
  margin: 0
  padding: 0

  &__link
    font-size: 16px
    line-height: 25px
    color: #4E6685
    &:not(:last-child)
      margin-right: 32px

      @media (max-width: 600px)
        margin-right: 0
        margin-bottom: 21px

        &:last-child
          margin-bottom: 29px

    @media (max-width: 600px)
      font-weight: 600
      color: #183455

      &:last-child
        margin-bottom: 29px

  &__btn
    width: 123px
    height: 40px
    background-color: #636AE6
    border-radius: 8px
    // @extend %Poppins-500
    font-size: 14px
    color: #E8EDF6
    margin-left: 45px
    display: flex
    justify-content: center
    align-items: center

    svg
      display: none
      margin-left: 10px

  // &
  //   margin-left: 0
  //   width: 171px
  //   height: 64px
  //   margin-bottom: 32px

  //   svg
  //     display: block

  &__box
    display: flex
    align-items: center

  @media (max-width: 600px)
    position: absolute
    top: -300px
    left: 8px
    right: 8px
    background: #E8EDF6
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1)
    border-radius: 16px
    height: 296px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end

  &--mobile

    &
      top: 8px

.last-news
  margin-top: 11px

  &__inner
    background-color: #183455
    border-radius: 16px
    padding: 19px 24px
    display: flex
    justify-content: space-between
    align-items: flex-start

  &__info
    color: #ffffff
    margin-right: 12px

  &__title
    // @extend %Poppins-500
    font-size: 16px
    line-height: 25px
    margin-bottom: 9px

  &__btn
    border: none
    background-color: transparent
    cursor: pointer
